@{
    ViewBag.Title = "Check W/O Status";
}
<style type="text/css">
    /*fix jTable*/
    span.jtable-goto-page select, span.jtable-page-size-change select {
        height: 25px;
        width: 60px;
        padding: 2px 2px;
        margin-bottom:auto;
    }
    div.jtable-main-container table.jtable thead th {
        text-align: center;
    }
    div.jtable-main-container > table.jtable > tbody > tr.jtable-data-row > td {
        text-align: center;
    }
</style>
<script type="text/javascript">
    function clearForm(form) {
        $(':input', form).each(function () {
            var type = this.type;
            var tag = this.tagName.toLowerCase(); // normalize case
            if (type == 'text' || type == 'password' || type == 'file' || tag == 'textarea')
                this.value = "";
            else if (type == 'checkbox' || type == 'radio')
                this.checked = false;
            else if (tag == 'select')
                this.selectedIndex = 0;//-1
        });
    };
    $(document).ready(function () {
        function getSubjob(mainjob) {
            if (mainjob.length == 10) {
                $.get("@Url.Action("GetSubJob","Home")", "mainjob=" + mainjob, function (data) {
                    $("#selSubJob").children().remove();
                    for (var i = 0; i < data.length; i++) {
                        $("#selSubJob").append("<option value='" + data[i].subjob + "'>" + data[i].subjob + "</option>");
                    }
                });
            }
        }

        $("#txtMainJob").keyup(function () {
            getSubjob("TD" + $(this).val());
        });

        //getSubjob($("#txtMainJob").val());

        $('#jTableProgressive').jtable({
            title: 'Progressive',
            paging: true, //Enable paging
            pageSize: 20, //Set page size (default: 10)
            sorting: true, //Enable sorting
            selecting: true, //Enable selecting
            defaultSorting: 'marking_step, start_date, start_time', //Set default sorting
            actions: {
                listAction: '@Url.Action("ProgressiveList","Home")'
            },
            fields: {
                main_job_no: { title: 'Main Job', list: false },
                sub_job_no: { title: 'Sub Job', list: false },
                //process_code: { title: 'p1'},
                //machine_no: { title: 'm1'},
                //proc_code: { title: 'p2'},
                //machine_code: { title: 'm2'},
                marking_step: { title: 'No.', width: '3%' },
                proc_name: { title: 'Process Name', width: '16%' },
                type_est: { title: 'Type Est', width: '6%' },
                process_status: { title: 'Status', width: '3%' },
                start_date: { title: 'Start Date', width: '8%' },
                start_time: { title: 'Start Time', width: '8%' },
                finished_date: { title: 'Finish Date', width: '8%' },
                finished_time: { title: 'Finish Time', width: '8%' },
                spend_time: { title: 'Spend Time', width: '8%' },
                std_time: { title: 'Std. Time', width: '6%' },
                std_diff: { title: 'Std. Diff', width: '6%' },
                machine_name: { title: 'Machine No.', width: '8%' },
                finished_user_name: { title: '', list: false },
                finished_user_id: {
                    title: 'Operator Name', width: '15%',
                    visibility: 'fixed', //This column always will be shown
                    display: function (data) {
                        return $('<a href="#" class="ShowSkill" data-user="' + data.record.finished_user_id + '" data-name="' + data.record.finished_user_name + '">' + data.record.finished_user_name + '</a>');
                    }
                },
                deljob: {
                    title: 'Del',
                    visibility: 'hidden', //This column always will be shown
                    display: function (data) {
                        return $('<a href="#" class="DelJob" data-main="' + data.record.main_job_no + '" data-sub="' + data.record.sub_job_no + '" data-step="' + data.record.marking_step + '">ลบ</a>');
                    }
                },
                comment: {
                    title: 'Comment',
                    display: function (data) {
                        if (data.record.comment != "") {
                            return $('<a href="#" class="ViewComment" data-main="' + data.record.main_job_no + '" data-sub="' + data.record.sub_job_no + '" data-step="' + data.record.marking_step + '">ดู</a> <a href="#" class="AddComment" data-main="' + data.record.main_job_no + '" data-sub="' + data.record.sub_job_no + '" data-step="' + data.record.marking_step + '">แก้ไข</a>');
                        } else {
                            return $('<a href="#" class="AddComment" data-main="' + data.record.main_job_no + '" data-sub="' + data.record.sub_job_no + '" data-step="' + data.record.marking_step + '">เพิ่ม</a>');
                        }
                    }
                }
            }
        });

        $('#divShowSkill').dialog({
            autoOpen: false,
            width: 500,//'auto',
            height: 'auto',
            modal: true,
            show: {
                effect: "clip",
                duration: 500
            },
            hide: {
                effect: "clip",
                duration: 500
            }
        });

        $(document).on("click", ".ShowSkill", function (e) {
            e.preventDefault();
            var obj = new Object();
            obj.user = $(this).attr('data-user');
            obj.username = $(this).attr('data-name');
            var remote = "@Url.Action("_ShowSkill","Home")";
            $.get(remote, obj, function (data) {
                $("#divShowSkill").html(data);
                $("#divShowSkill").dialog("open");
                return false;
            });
        });

        $('#divAddComment').dialog({
            autoOpen: false,
            width: 500,//'auto',
            height: 'auto',
            modal: true,
            show: {
                effect: "clip",
                duration: 500
            },
            hide: {
                effect: "clip",
                duration: 500
            }
        });

        $(document).on("click", ".AddComment", function (e) {
            e.preventDefault();
            var obj = new Object();
            obj.mainjob = $(this).attr('data-main');
            obj.subjob = $(this).attr('data-sub');
            obj.marking_step = $(this).attr('data-step');
            var remote = "@Url.Action("_AddComment","Home")";
            $.get(remote, obj, function (data) {
                $("#divAddComment").html(data);
                $("#divAddComment").dialog("open");
                return false;
            });
        });

        $('#divViewComment').dialog({
            autoOpen: false,
            width: 400,//'auto',
            height: 'auto'
        });

        $(document).on("click", ".ViewComment", function (e) {
            e.preventDefault();
            var obj = new Object();
            obj.mainjob = $(this).attr('data-main');
            obj.subjob = $(this).attr('data-sub');
            obj.marking_step = $(this).attr('data-step');
            var remote = "@Url.Action("_ViewComment","Home")";
            $.get(remote, obj, function (data) {
                $("#divViewComment").html(data);
                $("#divViewComment").dialog("open");
                return false;
            });
        });

        $(document).on("click", ".DelJob", function (e) {
            var obj = new Object();
            obj.mainjob = $(this).attr('data-main');
            obj.subjob = $(this).attr('data-sub');
            obj.marking_step = $(this).attr('data-step');

            if (confirm("Are you sure to Delete ?")) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("DelJob","Home")",
                    data: obj,
                    dataType: "json",
                    success: function (data) {
                        document.location.reload(true);
                        //window.location.assign(data);
                    }
                    //error: function (request, status, err) {
                    //    alert("Request:" + request + ", Status:" + status + ", Error:" + err);
                    //}
                 });
             }
            return false;
        });

        //Load student list from server
        //$('#jTableProgressive').jtable('load');

        //$("#btnSearchJob").click(function (e) {
        //    e.preventDefault();//for prevent jump to top
            var $main = /*"TD" +*/ $("#txtMainJob").val();
            var $sub = $("#selSubJob").val();
            clearForm("#divMainDetail");
            clearForm("#divSubDetail");
            $.get("@Url.Action("GetMainJobDetail","Home")", "mainjob=" + $main, function (data) {
                $("#txtRefold").val(data.ref_old_td);
                $("#txtItem").val(data.item);
                $("#txtQty").val(data.qty);
                $("#txtUnit").val(data.unit);
                $("#txtProdType").val(data.product_type_name);
                $("#txtEval").val(data.wo_evaluation);
                $("#txtDesc").val(data.description);
                $("#txtCust").val(data.customer_name);
                $("#txtPlant").val(data.plant_div_name);
                $("#txtPromise").val(data.promise_date);
                $("#txtDue").val(data.due_date);
            });

            $.get("@Url.Action("GetSubJobDetail","Home")", "mainjob=" + $main + "&subjob=" + $sub, function (data) {
                $("#txtItemSub").val(data.item_part_name);
                $("#txtQtySub").val(data.qty);
                $("#txtUnitSub").val(data.unit);
                $("#txtEvalSub").val(data.wo_evaluation);
                $("#txtDescSub").val(data.description);
                $("#txtProcess").val(data.proc_name);
                $("#txtRack").val(data.rack_no);
                $("#txtUpdUser").val(data.update_user);
            });

            $.get("@Url.Action("GetProgressive","Home")", "mainjob=" + $main + "&subjob=" + $sub, function (data) {
                $("#txtProgressive").val(data);
            });

            $('#jTableProgressive').jtable('load', {
                mainjob: $main,
                subjob: $sub
            });

            $('#hdmain').val($main);
            $('#hdsub').val($sub);
        //});
    });
</script>
<div style="display: none">
        @{
            var x = "";
            if(ViewBag.MainJob != null){
                x = ViewBag.MainJob;
            }
        }
        TD No. <input type="text" id="txtMainJob" name="txtMainJob" class="normal" value="@x" />
        <img src="~/Images/bar-code-icon.png" />
        Sub Job No.<input type="text" id="selSubJob" value="@ViewBag.SelSubJob" /> @*<select id="selSubJob" class="normal"></select>*@
        <input type="submit" id="btnSearchJob" value="Search" class="button round blue image-right ic-search text-upper" />
</div>

<div class="content-module">
    <div class="content-module-heading cf">	
		<h3 class="fl">Main Job Information</h3>
		<span class="fr expand-collapse-text">Click to collapse</span>
		<span class="fr expand-collapse-text initial-expand">Click to expand</span>
	</div>
	<div class="content-module-main" id="divMainDetail">
        <table style="width:100%; margin:5px; padding:5px;">
            <tr>
                <td style="width:10%;">Ref. Old TD</td>
                <td style="width:40%;"><input type="text" id="txtRefold" class="normal" readonly="true" /></td>
                <td style="width:10%;"></td>
                <td style="width:40%;"></td>
            </tr>
            <tr>
                <td>Item Code</td>
                <td><input type="text" id="txtItem" class="normal" readonly="true" /></td>
                <td>Qty</td>
                <td><input type="text" id="txtQty" class="normal" style="width:60px;" readonly="true" />
                    <input type="text" id="txtUnit" class="normal" style="width:60px;" readonly="true" /></td>
            </tr>
            <tr>
                <td>Product Type</td>
                <td><input type="text" id="txtProdType" class="normal" readonly="true" /></td>
                <td>Job Evaluation</td>
                <td><input type="text" id="txtEval" class="normal" readonly="true" /></td>
            </tr>
            <tr>
                <td>Description</td>
                <td colspan="3"><input type="text" id="txtDesc" class="normal" style="width:75%;" readonly="true" /></td>
                <td></td>
            </tr>
            <tr>
                <td>Customer</td>
                <td><input type="text" id="txtCust" class="normal" readonly="true" style="width:250px;" /></td>
                <td>Plant</td>
                <td><input type="text" id="txtPlant" class="normal" readonly="true" /></td>
            </tr>
            <tr>
                <td>Promise Date</td>
                <td><input type="text" id="txtPromise" class="normal" readonly="true" /></td>
                <td>Due Date</td>
                <td><input type="text" id="txtDue" class="normal" readonly="true" /></td>
            </tr>
        </table>
	</div>
</div>

<div class="content-module">
    <div class="content-module-heading cf">	
		<h3 class="fl">Sub Job Information</h3>
		<span class="fr expand-collapse-text">Click to collapse</span>
		<span class="fr expand-collapse-text initial-expand">Click to expand</span>
	</div>
	<div class="content-module-main" id="divSubDetail">
        <table style="width:100%; margin:5px; padding:5px;">
            <tr>
                <td style="width:10%;">Item Code</td>
                <td style="width:40%;"><input type="text" id="txtItemSub" class="normal" readonly="true" /></td>
                <td style="width:7%;">Qty</td>
                <td style="width:43%;"><input type="text" id="txtQtySub" class="normal" style="width:60px;" readonly="true" />
                    <input type="text" id="txtUnitSub" class="normal" style="width:60px;" readonly="true" />
                </td>
            </tr>
            <tr>
                <td>Job Evaluation</td>
                <td><input type="text" id="txtEvalSub" class="normal" readonly="true" /></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Description</td>
                <td colspan="3"><input type="text" id="txtDescSub" class="normal" style="width:75%;" readonly="true" /></td>
            </tr>
            <tr>
                <td>Rack No.</td>
                <td><input type="text" id="txtRack" class="normal" readonly="true" /></td>
                <td>Scanner</td>
                <td><input type="text" id="txtUpdUser" class="normal" readonly="true" style="width:250px;" /></td>
            </tr>
            <tr>
                <td>Rack Name</td>
                <td><input type="text" id="txtProcess" class="normal" readonly="true" style="width:250px;" /></td>
                <td></td>
                <td></td>
            </tr>
        </table>
	</div>
</div>

@*<div class="content-module">
    <div class="content-module-heading cf">	
		<h3 class="fl">Progressive</h3>
		<span class="fr expand-collapse-text">Click to collapse</span>
		<span class="fr expand-collapse-text initial-expand">Click to expand</span>
	</div>
	<div class="content-module-main" id="divProgressive">
        <div id="jTableProgressive"></div>
	</div>
</div>*@
<div style="text-align:right;">
    Progressive : <input type="text" id="txtProgressive" name="txtProgressive" class="normal" readonly="true" />
</div>
<div id="jTableProgressive"></div>
<br />
<div>
    <form id="formExport" name="formExport" action="@Url.Action("ExportProgress")" method="post">
        <input type="hidden" id="hdmain" name="hdmain" />
        <input type="hidden" id="hdsub" name="hdsub" />
        <input type="submit" id="btnExport" class="green" value="Export Excel" />
    </form>
</div>

<div id="divShowSkill" title="Skill Card"></div>

<div id="divAddComment" title="Add Comment"></div>

<div id="divViewComment" title="Comment"></div>